{% extends 'base.html.twig' %}

{% block main %}

    {{ form_start(eventForm) }}
    {{ form_row(eventForm.name) }}
    {{ form_row(eventForm.startDateTime) }}
    {{ form_row(eventForm.inscriptionLimit) }}
    {{ form_row(eventForm.maxParticipant) }}
    {{ form_row(eventForm.duration) }}
    {{ form_row(eventForm.eventInfo) }}
    {{ form_row(eventForm.city) }}
    {{ form_row(eventForm.placeChoice) }}

    <div class="button_center">
        {{ form_row(eventForm.save) }}
        {{ form_row(eventForm.saveAndAdd) }}
        <div class="form-group">
            <a href="{{ path('home') }}"><button class="btn btn-primary">Annuler</button></a>
        </div>
    </div>
    {{ form_end(eventForm) }}

{% endblock %}
{% block javascripts %}
    <script>
        const url = '{{ url('place_find_by_city') }}';
    </script>
    <script src="{{ asset('js/selectPlace.js') }}"></script>
{% endblock %}
