{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/eventAdd.css') }}" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block main %}

    {{ form_start(eventForm) }}
    {{ form_row(eventForm.name) }}
    {{ form_row(eventForm.startDateTime) }}
    {{ form_row(eventForm.inscriptionLimit) }}
    {{ form_row(eventForm.maxParticipant) }}
    {{ form_row(eventForm.duration) }}
    {{ form_row(eventForm.eventInfo) }}
    {{ form_row(eventForm.place) }}
    <div class="button_center">
        {{ form_row(eventForm.save) }}
        {{ form_row(eventForm.saveAndAdd) }}
        <div class="form-group">
        <button class="btn btn-primary"><a href="{{ path('home') }}"></a>Annuler</button>
        </div>
    </div>
    {{ form_end(eventForm) }}

{% endblock %}
