{% extends 'base.html.twig' %}

{% block main %}


    <h1>Ajouter une sortie</h1>
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            {{ form_start(eventForm) }}
            {{ form_row(eventForm.name) }}
            {{ form_row(eventForm.startDateTime) }}
            {{ form_row(eventForm.inscriptionLimit) }}
            {{ form_row(eventForm.maxParticipant) }}
            {{ form_row(eventForm.duration) }}
            {{ form_row(eventForm.eventInfo) }}
            {{ form_row(eventForm.city) }}

            <div class="form-group ">
                <label class="required" for="event_placeChoice">Lieu</label>
                <select id="event_placeChoice" class="form-control"></select>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="rue">Rue </label>
                    <input type="text" id="street" value="" disabled class="form-control">
                </div>
                <div class="form-group col-md-6">
                    <label for="codePostal">Code Postal </label>
                    <input type="text" id="codePostal" value="" disabled
                           class="form-control">
                </div>
                <div class="form-group col-md-6">
                    <label for="codePostal">Latitude </label>
                    <input type="text" id="latitude" value="" disabled
                           class="form-control">
                </div>
                <div class="form-group col-md-6">
                    <label for="codePostal">Longitude </label>
                    <input type="text" id="longitude" value="" disabled
                           class="form-control">
                </div>
            </div>

            <div class="button_center">
                {{ form_row(eventForm.save) }}
                {{ form_row(eventForm.saveAndAdd) }}
                <div class="form-group">
                    <a href="{{ path('home') }}" class="btn btn-primary">Retour</a>
                </div>
            </div>
            {{ form_end(eventForm) }}
        </div>
    </div>

{% endblock %}
    {% block javascripts %}
        <script>
            const url = '{{ url('place_find_by_city') }}';
        </script>
        <script src="{{ asset('js/selectPlace.js') }}"></script>
    {% endblock %}
