{% extends 'base.html.twig' %}



{% block title %}Annuler une sortie{% endblock %}

{% block main %}
<h1>Annuler une sortie</h1>

    <p>Nom de la sortie: {{ event.name}} </p>
    <p>Date de la sortie : {{ event.startDateTime|date("Y-m-d H:i:s") }} </p>
    <p>Campus: {{ event.campus.name }} </p>
    <p>Lieu : {{ event.place.name}} </p>


         {{ form_start(cancelEventFormView) }}
         {{ form_row(cancelEventFormView.reasonDelete) }}
    <div class="button_center">
        {{ form_row(cancelEventFormView.Enregistrer) }}
        {{ form_end(cancelEventFormView) }}

     <a href="{{ path('home') }}"><button class="btn btn-secondary">Annuler</button></a>

    </div>





{% endblock %}
