{% extends 'base.html.twig' %}



{% block title %}Annuler une sortie{% endblock %}

{% block main %}
<h1>Annuler une sortie</h1>
<br>

    <span>Nom de la sortie:</span><span class="text-info"> {{ event.name}} </span>

    <br>
    <br>
    <span>Date de la sortie : </span><span class="text-info" >{{ event.startDateTime|date("Y-m-d H:i:s") }} </span>

    <br>
    <br>
    <span>Campus: </span><span class="text-info">{{ event.campus.name }} </span>

    <br>
    <br>
    <span>Lieu : </span><span class="text-info">{{ event.place.name}} </span>
    <br>
    <br>

         {{ form_start(cancelEventFormView) }}
         {{ form_row(cancelEventFormView.reasonDelete) }}
    <br>
    <br>
    <div class="button_center">
        {{ form_row(cancelEventFormView.Enregistrer) }}
        {{ form_end(cancelEventFormView) }}

     <a href="{{ path('home') }}"><button class="btn btn-secondary">Annuler</button></a>

    </div>





{% endblock %}
