{% extends 'base.html.twig' %}

{% block main %}
    <h1>Modifier une sortie</h1>

    {{ form_start(modifyEventForm) }}
    {{ form_row(modifyEventForm.name) }}
    {{ form_row(modifyEventForm.startDateTime) }}
    {{ form_row(modifyEventForm.inscriptionLimit) }}
    {{ form_row(modifyEventForm.maxParticipant) }}
    {{ form_row(modifyEventForm.duration) }}
    {{ form_row(modifyEventForm.eventInfo) }}
    {{ form_row(modifyEventForm.campus) }}
    {{ form_row(modifyEventForm.place) }}

    <div class="form-group">
        <label for="rue">Rue </label>
        <input type="text" id="rue" name="rue" value="{{ event.place.street }}" disabled class="form-control">
    </div>
    <div class="form-group">
        <label for="codePostal">Code Postal </label>
        <input type="text" id="codePostal" name="codePostal" value="{{ eventCity.getPostalCode }}" disabled class="form-control">
    </div>
    <div class="button_center">
        {{ form_row(modifyEventForm.save) }}
        {{ form_row(modifyEventForm.saveAndAdd) }}
        {{ form_row(modifyEventForm.delete) }}
        <div class="form-group">
            <a href="{{ path('home') }}"><button class="btn btn-primary">Annuler</button></a>
        </div>
    </div>
    {{ form_end(modifyEventForm) }}

{% endblock %}

{% block javascripts %}
    <script>
        const urlStreet = "{{ url('street_of_the_place') }}";
    </script>
    <script src="{{ asset('js/selectStreet.js') }}"></script>
{% endblock %}