{% extends 'base.html.twig' %}

{% block main %}
    <h1>Modifier une sortie</h1>



    {{ form_start(modifyEventForm) }}
    <div class="row">
        <div class="col-md-12">
            {{ form_row(modifyEventForm.name) }}
        </div>
        <div class="col-md-6">
            {{ form_row(modifyEventForm.startDateTime) }}
        </div>
        <div class="col-md-6">
            {{ form_row(modifyEventForm.inscriptionLimit) }}
        </div>
        <div class="col-md-6">
            {{ form_row(modifyEventForm.maxParticipant) }}
        </div>
        <div class="col-md-6">
            {{ form_row(modifyEventForm.duration) }}
        </div>
        <div class="col-md-12">
            {{ form_row(modifyEventForm.eventInfo) }}
        </div>
        <div class="col-md-6">
            {{ form_row(modifyEventForm.campus) }}
        </div>
        <div class="col-md-6">
            {{ form_row(modifyEventForm.place) }}
        </div>
        <div class="form-group col-md-6">
            <label for="rue">Rue </label>
            <input type="text" id="rue" name="rue" value="{{ event.place.street }}" disabled class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label for="codePostal">Code Postal </label>
            <input type="text" id="codePostal" name="codePostal" value="{{ eventCity.getPostalCode }}" disabled
                   class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label for="latitude">Latitude </label>
            <input type="text" id="latitude" name="latitude" value="{{ eventPlace.getLongitude }}" disabled
                   class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label for="longitude">Longitude </label>
            <input type="text" id="longitude" name="longitude" value="{{ eventPlace.getLatitude }}" disabled
                   class="form-control">
        </div>

    </div>

    <div class="button_center">
        {{ form_row(modifyEventForm.save) }}
        {{ form_row(modifyEventForm.saveAndAdd) }}
        {{ form_end(modifyEventForm) }}
        <a href="{{ path('event_delete', {'id': event.id}) }}">
            <button class="btn btn-primary" type="button">Supprimer la sortie</button>
        </a>
        <a href="{{ path('home') }}">
            <button class="btn btn-primary" type="button">Retour</button>
        </a>
    </div>




{% endblock %}

{% block javascripts %}
    <script>
        const urlStreet = "{{ url('street_of_the_place') }}";
    </script>
    <script src="{{ asset('js/selectStreet.js') }}"></script>
{% endblock %}