{% extends 'base.html.twig' %}

{% block main %}
    <div class="container">
        <h2>{{ event.name }}</h2>
        <br>
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12  font-weight-bold">Description et infos :</div>
                    <div class="col-12 text-info">{{ event.eventInfo }}</div>
                </div>
                <br>
            </div>

            <div class="col-6">

                <div class="row">
                    <div class="col-6  font-weight-bold">Date et heure de la sortie :</div>
                    <div class="col-6  text-info">{{ event.startDateTime | date ("d/m/y h:i:s") }}</div>
                </div>
                <br>
                <div class="row">
                    <div class="col-6  font-weight-bold">Date limite dincription :</div>
                    <div class="col-6  text-info">{{ event.inscriptionLimit | date ("d/m/y") }}</div>

                </div>
                <br>
                <div class="row">
                    <div class="col-6 font-weight-bold">Nombre de places :</div>
                    <div class="col-6  text-info">{{ event.maxParticipant }}</div>
                </div>
                <br>
                <div class="row">
                    <div class="col-6  font-weight-bold">Durée :</div>
                    <div class="col-6  text-info">{{ event.duration }} minutes</div>
                </div>
                <br>

                <div class="row">
                    <div class="col-6  font-weight-bold">Campus :</div>
                    <div class="col-6  text-info">{{ event.campus.name }}</div>
                </div>
                <br>
            </div>

            <div class="col-6">

                <div class="row">
                    <div class="col-6  font-weight-bold">Lieu :</div>
                    <div class="col-6  text-info">{{ event.place.name }}</div>
                </div>
                <br>
                <div class="row">
                    <div class="col-6  font-weight-bold">Rue :</div>
                    <div class="col-6  text-info">{{ event.place.street }}</div>
                </div>
                <br>
                <div class="row">
                    <div class="col-6  font-weight-bold">Ville :</div>
                    <div class="col-6  text-info">{{ event.place.city.postalCode }} {{ event.place.city.name }}</div>
                </div>
                <br>
                <div class="row">
                    <div class="col-6  font-weight-bold">Latitude :</div>
                    <div class="col-6  text-info">{{ event.place.latitude }}</div>
                </div>
                <br>
                <div class="row">
                    <div class="col-6  font-weight-bold">Longitude :</div>
                    <div class="col-6  text-info">{{ event.place.longitude }}</div>
                </div>
                <br>
            </div>


        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-6">
                <div>


                    <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                        <div class="card-header">Liste des participants</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-5"><strong>Pseudo</strong></div>
                                <div class="col-7"><strong>Nom</strong></div>
                            </div>
                            {% for participant in event.participants %}
                                <div class="row">
                                    <div class="col-5"><a class="text-white" href="{{ path('user_profil', {'id': participant.id}) }}">{{ participant.username }}</a></div>
                                    <div class="col-7">{{ participant.firstname }} {{ participant.lastname }}</div>
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    {{ parent() }} - Sortie {{ event.name }}
{% endblock %}

