{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/user.css') }}">
{% endblock %}

{% block main %}
    <div class="container">
        <h1>{{ event.name }}</h1>
        <br>
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12  font-weight-bold">Description et infos :</div>
                    <div class="col-12 text-info">{{ event.eventInfo }}</div>
                </div>
                <br>
            </div>

            {% if event.state.name == "Annulée" %}
            <div class="col-12">
                <div class="row">
                    <div class="col-12 font-weight-bold bigred text-uppercase">Sortie annulée</div>
                    <div class="col-12  font-weight-bold">Motif :</div>
                    <div class="col-12 text-info">{{ event.reasonDelete }}</div>
                </div>
                <br>
            </div>
            {% endif %}

            <div class="col-md-6">
                <p>
                    <span class="font-weight-bold">Date et heure de la sortie :</span>
                    <span class="text-info">{{ event.startDateTime | date ("d/m/y h:i:s") }}</span>
                </p>
            </div>

            <div class="col-md-6">
                <p>
                    <span class="font-weight-bold">Date limite d'inscription :</span>
                    <span class="text-info">{{ event.inscriptionLimit | date ("d/m/y") }}</span>
                </p>
            </div>

            <div class="col-md-6">
                <p>
                    <span class="font-weight-bold">Nombre de places :</span>
                    <span class="text-info">{{ event.maxParticipant }}</span>
                </p>
            </div>

            <div class="col-md-6">
                <p>
                    <span class="font-weight-bold">Durée :</span>
                    <span class="text-info">{{ event.duration }} minutes</span>
                </p>
            </div>

            <div class="col-md-6">
                <p>
                    <span class="font-weight-bold">Campus :</span>
                    <span class="text-info">{{ event.campus.name }}</span>
                </p>
            </div>

            <div class="col-md-6">
                <p>
                    <span class="font-weight-bold">Lieu :</span>
                    <span class="text-info">{{ event.place.name }}</span>
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    <span class="font-weight-bold">Rue :</span>
                    <span class="text-info">{{ event.place.street }}</span>

                </p>
            </div>

            <div class="col-md-6">
                <p>
                    <span class="font-weight-bold">Ville :</span>
                    <span class="text-info">{{ event.place.city.postalCode }} {{ event.place.city.name }}</span>
                </p>
            </div>

            <div class="col-md-6">
                <p>
                    <span class="font-weight-bold">Latitude :</span>
                    <span class="text-info">{{ event.place.latitude }}</span>

                </p>
            </div>

            <div class="col-md-6">
                <p>
                    <span class="font-weight-bold">Longitude :</span>
                    <span class="text-info">{{ event.place.longitude }}</span>
                </p>
            </div>
        </div>
        <br>

        <div class="row mt-2">
            <div class="col-6">
                <div>


                    <div class="card text-white bg-info mb-3">
                        <div class="card-header">Liste des participants</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-5"><strong>Pseudo</strong></div>
                                <div class="col-7"><strong>Nom</strong></div>
                            </div>
                            {% for participant in event.participants %}
                                <div class="row">
                                    <div class="col-5"><a class="text-white font-italic"
                                                          href="{{ path('user_profil', {'id': participant.id}) }}">{{ participant.username }}</a>
                                    </div>
                                    <div class="col-7">{{ participant.firstname }} {{ participant.lastname }}</div>
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block title %}
    {{ parent() }} - Sortie {{ event.name }}
{% endblock %}

