{% extends 'base.html.twig' %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-4  font-weight-bold">Nom de la sortie :</div>
                    <div class="col-8 text-info">{{ event.name }}</div>
                </div>
                <br>
            </div>

            <div class="col-6">

                <div class="row">
                    <div class="col-6  font-weight-bold">Date et heure de la sortie :</div>
                    <div class="col-6">{{ event.startDateTime | date ("d/m/y h:i:s") }}</div>
                </div>
                <br>
                <div class="row">
                    <div class="col-6 font-weight-bold">Nombre de places :</div>
                    <div class="col-6">{{ event.maxParticipant }}</div>
                </div>
                <br>
                <div class="row">
                    <div class="col-6  font-weight-bold">Lieu :</div>
                    <div class="col-6">{{ event.place.name }}</div>
                </div>
                <br>
                <div class="row">
                    <div class="col-6  font-weight-bold">Rue :</div>
                    <div class="col-6">{{ event.place.street }}</div>
                </div>
                <br>
                <div class="row">
                    <div class="col-6  font-weight-bold">Longitude :</div>
                    <div class="col-6">{{ event.place.longitude }}</div>
                </div>
                <br>
            </div>

            <div class="col-6">
                <div class="row">
                    <div class="col-6  font-weight-bold">Date limite dincription :</div>
                    <div class="col-6">{{ event.inscriptionLimit | date ("d/m/y") }}</div>

                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-6  font-weight-bold">Durée :</div>
                    <div class="col-6">{{ event.duration }} minutes</div>
                </div>
                 <br>
                <div class="row">
                    <div class="col-6  font-weight-bold">Campus :</div>
                    <div class="col-6">{{ event.campus.name }}</div>
                </div>

                
                <br>
                <div class="row">
                    <div class="col-6  font-weight-bold">Code Postal :</div>
                    <div class="col-6">{{ event.place.city.postalCode }}</div>
                </div>
                <br>
                <div class="row">
                    <div class="col-6  font-weight-bold">Latitude :</div>
                    <div class="col-6">{{ event.place.latitude }}</div>
                </div>
                <br>
            </div>

            <div class="col-12">
                <div class="row">
                    <div class="col-12  font-weight-bold">Description et infos :</div>
                    <div class="col-12 text-info">{{ event.eventInfo }}</div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-6">
                <div>
                    <h4>Liste des participants inscrits :</h4>
                    <div class="row">
                        <div class="col-4"><strong>Pseudo</strong></div>
                        <div class="col-8"><strong>Nom</strong></div>
                    </div>
                    {% for participant in event.participants %}
                        <div class="row">
                            <div class="col-4">{{ participant.username }}</div>
                            <div class="col-8">{{ participant.firstname }} {{ participant.lastname }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    parent() - Sortie {{ event.name }}
{% endblock %}

